@using F1Stats.Data.Models; 
@model F1Stats.Data.Models.Csapat

<h2>Edit of one team</h2>

@using (Html.BeginForm("Edit", "Csapat"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.csapat_nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.csapat_nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.motor)</div>
    <div class="editor-field">@Html.EditorFor(m => m.motor)</div>

    <div class="editor-label">@Html.LabelFor(m => m.versenyek_szama)</div>
    <div class="editor-field">@Html.EditorFor(m => m.versenyek_szama)</div>

    <div class="editor-label">@Html.LabelFor(m => m.gyozelmek)</div>
    <div class="editor-field">@Html.EditorFor(m => m.gyozelmek)</div>
    <input type="submit" value="SEND" />
}