@model F1Stats.Web.Models.Versenyhetvege

<h2>Edit of one race weekend</h2>

@using (Html.BeginForm("Edit", "Versenyhetvege"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Versenyhetvege_szama)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Versenyhetvege_szama)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Hossz)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Hossz)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Kor)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Kor)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Idopont)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Idopont)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Helyszin)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Helyszin)</div>

    <input type="submit" value="SEND" />
}