@model F1Stats.Web.Models.Versenyhetvege
@{
    ViewBag.Title = "VersenyhetvegeDetails";
}

<h2>Datasheet of one race weekend</h2>
@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nev)</td>
        <td>@Html.DisplayFor(m => m.Nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Versenyhetvege_szama)</td>
        <td>@Html.DisplayFor(m => m.Versenyhetvege_szama)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Hossz)</td>
        <td>@Html.DisplayFor(m => m.Hossz)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Kor)</td>
        <td>@Html.DisplayFor(m => m.Kor)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Idopont)</td>
        <td>@Html.DisplayFor(m => m.Idopont)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Helyszin)</td>
        <td>@Html.DisplayFor(m => m.Helyszin)</td>
    </tr>
</table>
