@model IEnumerable<F1Stats.Web.Models.Csapat>

<h2>List of teams</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().CsapatNev)</th>
            <th>@Html.DisplayNameFor(m => m.First().Motor)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@Html.DisplayFor(m => item.CsapatNev)</td>
        <td>>@Html.DisplayFor(m => item.Motor)</td>
        <td>@Html.ActionLink("[SHOW]", "Details", new { name = item.CsapatNev })</td>
        <td>@Html.ActionLink("[DEL]", "Remove", new { name = item.CsapatNev })</td>
        <td>@Html.ActionLink("[EDIT]", "Edit", new { name = item.CsapatNev })</td>
    </tr>
        }
    </table>
}