@model F1Stats.Data.Models.Versenyzo
@{
    ViewBag.Title = "VersenyzoDetails";
}

<h2>Datasheet of one racer</h2>
@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.rajtszam)</td>
        <td>@Html.DisplayFor(m => m.rajtszam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.nev)</td>
        <td>@Html.DisplayFor(m => m.nev)</td>
    </tr>
    <tr>
        <td>csapat nev</td>
        <td>@Html.DisplayFor(m => m.csapat_nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.eletkor)</td>
        <td>@Html.DisplayFor(m => m.eletkor)</td>
    </tr>
    <tr>
        <td>ossz pont</td>
        <td>@Html.DisplayFor(m => m.ossz_pont)</td>
    </tr>
    <tr>
        <td>idenybeli pont</td>
        <td>@Html.DisplayFor(m => m.idenybeli_pont)</td>
    </tr>
</table>
