@model F1Stats.Data.Models.Eredmeny
@{
    ViewBag.Title = "EredmenyDetails";
}

<h2>Datasheet of one result</h2>
@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.eredmenyId)</td>
        <td>@Html.DisplayFor(m => m.eredmenyId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.versenyhetvege_szam)</td>
        <td>@Html.DisplayFor(m => m.versenyhetvege_szam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.rajtszam)</td>
        <td>@Html.DisplayFor(m => m.rajtszam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.helyezes)</td>
        <td>@Html.DisplayFor(m => m.helyezes)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.pont)</td>
        <td>@Html.DisplayFor(m => m.pont)</td>
    </tr>
</table>
