@model F1Stats.Data.Models.Versenyhetvege

<h2>Edit of one race weekend</h2>

@using (Html.BeginForm("Edit", "Versenyhetvege"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.VERSENYHETVEGE_SZAMA)</div>
    <div class="editor-field">@Html.EditorFor(m => m.VERSENYHETVEGE_SZAMA)</div>

    <div class="editor-label">@Html.LabelFor(m => m.hossz)</div>
    <div class="editor-field">@Html.EditorFor(m => m.hossz)</div>

    <div class="editor-label">@Html.LabelFor(m => m.kor)</div>
    <div class="editor-field">@Html.EditorFor(m => m.kor)</div>

    <div class="editor-label">@Html.LabelFor(m => m.idopont)</div>
    <div class="editor-field">@Html.EditorFor(m => m.idopont)</div>

    <div class="editor-label">@Html.LabelFor(m => m.helyszin)</div>
    <div class="editor-field">@Html.EditorFor(m => m.helyszin)</div>

    <input type="submit" value="SEND" />
}